body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: #003300;
    background-color: #598BAF; /* Air Force Blue */
}

h1 {
    font-size: 4em; /* Adjusted h1 font size */
}
h4, p {
    font-size: 3em; /* Adjusted h4 and p font size */
}

.container {
    max-width: 1200px;
    margin: 0 auto; /* Center the content */
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #003300;
    margin: 20px 0;
    padding: 0;
    position: relative;
}

/* Add margins and make the content responsive */
.w3-content {
    max-width: 100%;
    padding: 0 20px; /* Add margins on either side */
    box-sizing: border-box;
}

/* Navbar (sit on top) */
.w3-top {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.w3-bar {
    letter-spacing: 4px;
}

/* Header */
.w3-display-container {
    max-width: 1600px;
    min-width: 500px;
}

/* About Section */
.about-section {
    background-color: #FFFFFF; /* White */
    color: #598BAF;
    text-align: center;
    padding: 4em; /* Updated to use em units */
}

.w3-row.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Make images responsive */
img {
    max-width: 100%;
    height: auto;
}

/* How it Works Section */
.slideshow-container {
    background-color: #FFFFFA; /* Off-White */
    position: relative;
    max-width: 100%;
    margin-top: 20px;
}

/* Key Areas to Treat Section */
.w3-row.w3-padding-64 img {
    background-color: #FFFFFA; /* Off-White */
    max-width: 100%;
    margin-bottom: 20px;
}

/* Contact Section */
.contact-section {
    background-color: #FFFFFA; /* Dark Red */
    color: #598BAF;
    padding: 4em; /* Updated to use em units */
}

